<div class='modal__body'>
  <button class='modal__close-btn js-modal-close-btn' type='button'>
    {{! <svg class='modal__close-btn__icon' width='27px' height='27px'>
      <use href='./images/svg/sprite.svg#close'></use>
    </svg> }}
  </button>

  <div class='modal__img__thumb-circle'>
    <picture class='modal__img-circle'>

      {{! desk }}
      <source
        media='(min-width: 1280px)'
        srcset='
            {{images.4.url}} 1x,
            {{images.3.url}} 2x
      '
        type='image/jpeg'
      />
      {{! tab }}
      <source
        media='(max-width: 1279px)'
        srcset='
            {{images.2.url}} 1x,
            {{images.4.url}} 2x
      '
        type='image/jpeg'
      />
      {{! tel }}
      {{!-- <source
        media='(max-width: 767px)'
        srcset='
            {{images.2.url}} 1x,
            {{images.4.url}} 2x
      '
        type='image/jpeg'
      /> --}}
      <img
        class='modal__img-circle'
        src='{{images.2.url}}'
        alt='{{name}}'
        loading='lazy'
      />

    </picture>
  </div>

  <div class='modal__info modal__wrapper'>

    <div class='modal__info__img__thumb'>
      <picture class='modal__info__img'>
        {{! desk }}
        <source
          media='(min-width: 1280px)'
          srcset='
            {{images.5.url}} 1x,
            {{images.6.url}} 2x
      '
          type='image/jpeg'
        />
        {{! tab }}
        <source
          media='(max-width: 1279px)'
          srcset='
            {{images.8.url}} 1x,
            {{images.6.url}} 2x
      '
          type='image/jpeg'
        />

        <img
          class='modal__info__img'
          src='{{images.0.url}}'
          alt='{{name}}'
          loading='lazy'
        />
      </picture>
    </div>

    <ul class='modal__info__list'>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>INFO</h2>
        <p class='modal__info__text'>{{info}}</p>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHEN</h2>
        <time
          class='modal__info__text'
          datetime='{{dates.start.localDate}} {{dates.start.localTime}}'
        >
          <span class='modal__info__date'>{{dates.start.localDate}}</span><br />
          <span class='modal__info__time'>{{time}}&nbsp;
            <span
              class='modal__info__time-zone'
            >({{dates.timezone}})</span></span>
        </time>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHERE</h2>
        <p class='modal__info__text'>
          <span class='modal__info__location location'>
            <a
              href='https://www.google.com/maps/place/{{_embedded.venues.0.country.name}}, {{_embedded.venues.0.city.name}}, {{_embedded.venues.0.address.line1}}'
            ><span
                class='location__city'
              >{{_embedded.venues.0.city.name}}&comma;&nbsp;{{_embedded.venues.0.country.name}}</span>
              <span
                class='location__place'
              >{{_embedded.venues.0.address.line1}}</span></a>
          </span>
        </p>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHO</h2>

        <p class='modal__info__text'>{{name}}</p></li>

      <li class='modal__info__item'>
        <h2 class='modal__info__title'>PRICES</h2>
        <ul class='modal__info__prices prices'>
          <li class='prices__item'>

            <span class='prices__item__standart'>Standart
              {{priceRanges.0.min}}
              {{priceRanges.0.currency}}</span>
            <button class='prices__btn js-prices__btn-st' type='button'>BUY
              TICKETS</button>
          </li>
          <li class='prices__item'>
            <span class='prices__item__vip'>VIP
              {{priceRanges.0.max}}
              {{priceRanges.0.currency}}</span>

            <button class='prices__btn js-prices__btn-vip' type='button'>BUY
              TICKETS</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button class='modal__more-btn js-modal__more-btn' type='button'>MORE FROM
    THIS AUTHOR</button>
</div>