<article class='event-card event-item'>
  <div class='event-thumb' id='{{id}}'>

    <picture class='event-card__image' id='{{id}}'>

      {{! desk }}
      <source
        media='(min-width: 1280px)'
        srcset='
            {{images.5.url}} 1x,
            {{images.8.url}} 2x
      '
        type='image/jpeg'
      />
      {{! tab }}
      <source
        media='(max-width: 1279px)'
        srcset='
            {{images.5.url}} 1x,
            {{images.7.url}} 2x
      '
        type='image/jpeg'
      />
      {{! tel }}
      <source
        media='(max-width: 767px)'
        srcset='
            {{images.4.url}} 1x,
            {{images.2.url}} 2x
      '
        type='image/jpeg'
      />
      <img
        class='event-card__image'
        loading='lazy'
        src='{{images.2.url}}'
        alt='{{name}}'
        loading='lazy'
      />

    </picture>

    <h3 class='event-card__title'>{{name}}</h3>
  </div>

  <p class='event-card__date'>{{dates.start.localDate}}</p>
  {{#if _embedded.venues.0.name}}<a
      href='#'
      target='_blank'
      class='event-card__location'
    >{{_embedded.venues.0.name}}</a>{{/if}}
</article>